<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
</head>
<body>
<div>
    <form action="/member/join" method="post">
        <div>
            <input type="text" name="loginId" placeholder="아이디를 입력해주세요.">
        </div>
        <div>
            <input type="password" name="loginPw" placeholder="비밀번호를 입력해주세요.">
        </div>
        <div>
            <input type="text" name="name" placeholder="이름을 입력해주세요.">
        </div>
        <div>
            <input type="text" name="email" placeholder="이메일을 입력해주세요.">
        </div>
        <div>
            <button type="submit">
                <span>가입하기</span>
            </button>
        </div>
    </form>

</div>
</body>
</html>